<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" media="screen" rel="stylesheet">
	<link href="public/style2.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="setup.js"></script>
</head>
<body>
	<div class="container">
		<button class="addField" id="addField" type="button">Add Config Field</button>
		<h1>Login!</h1>
		<form action="/" method="post" role="form">
			<input name="username" placeholder="Enter Username" type="text"><input name="password" placeholder="Password" type="text"><button type="submit">Submit</button>
		</form>
	</div>
</body>
</html>